{{>header}}

    <!-- loader Start -->
    <div id="loading">
          <div id="loading-center">
          </div>
    </div>

  

    <!-- Wrapper Start -->
    <div class="wrapper">
      
 <!-- Side Navigation -->
{{#if user}}
{{>nav}}
{{/if}}
<!-- content -->
{{{body}}}
<!-- footer -->
{{>footer}}





