  <div class="content-page">
<div class="row">
            <div class="col-lg-12">                
                <div class="card card-block card-stretch pb-2">
                    <div class="card-body write-card pb-4">
                        <div class="row">
                            <div class="col-md-12">
                                <form action="/addNote" method="POST">
                                    <div class="form-group">
                                        <label class="label-control">Title</label>
                                        <input type="text" class="form-control" name="title" placeholder="Example Note" value="" data-change="input" data-custom-target="#note-title">
                                    </div>

                                        <div class="form-group">

                                        <label class="label-control">Notebook</label> <br>
                                
                                
                                
                    <div class="select">
                                <select name="notebook" id="slct">
                                    {{#each fetched_notebooks}}
                                <option>{{name}}</option>
                     
                                {{/each}}
                            </select>
                            </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="label-control">Note</label>
                                        <textarea id="mytextarea" type="text" class="form-control" name="note" rows="20" placeholder="Type your note here"></textarea>
                                    </div>
                                    
                                    
                                    
                                    
                                    <button type="submit" class="btn btn-primary ml-1">
                                        <svg width="20" class="svg-icon" id="new-note-save" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" style="stroke-dasharray: 70, 90; stroke-dashoffset: 0;"></path>
                                        </svg>
                                        Save
                                    </button>
                                </form>
                            </div>
                   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
